$primary: hsl(20, 20%, 15%);
$secondary: hsl(20, 30%, 35%);
$tertiary: darken(hsl(20, 30%, 35%), 10%);
$light: hsl(40, 30%, 90%);
$pcolor: hsl(208, 7%, 48%);


$boxshadow: 0 10px 24px rgba(0, 0, 0, 0.12);